/**
 * Functions are a great way to compute values. You can put them here, or break
 * them up into more granular files if you have a lot. Functions have a simple
 * syntax:
 *
 * @function my-function($parameter-1, $parameter-2) {
 *   // Perform some operations...
 *   @return $result;
 * }
 *
 * More info: http://thesassway.com/advanced/pure-sass-functions
 */
